{
	"xBDD": {
		"TestRunName": "My Sample Test Run",
		"Browser": {
			"Watch": "false"
		},
		"HtmlReport": {
			"RemoveFromAreaNameStart": "My Generated Sample - Features - ",
			"FailuresOnly": "false"
		}
	}
}