Output: ./MySample.TestSummary.WithNoJsonFiles.html
Name: My Sample - Features
TestRunNameClip: My Sample - Features - 
Reasons: Removing,Passed,Untested,Committed,Ready,Defining,Failed
Error: No test run configurations specified.
