Output: ./MySample.TestSummary.WithAMissingJsonFile.html
Name: My Sample - Features
TestRunNameClip: My Sample - Features - 
Reasons: Untested, Committed, Ready, Defining
Json Report: ./Missing.json
Error: Could not find file 'C:\Users\stearm01\source\xBDD\MySample\Missing.json'.
