{{.*}}/rl
	<title>My Sample - Features</title>
{{.*}}/rl
		<h1 class="report-name">
			<span class="report badge pointer badge-pill total badge-warning" title="Test Runs">1</span>
			<span class="name">My Sample - Features</span>
			<span class="report duration"> [0 ms]</span>
		</h1>
{{.*}}/rl