Output: ./MySample.TestSummary.WithASingleJsonFile.html
Name: My Sample - Features
TestRunNameClip: My Sample - Features - 
Reasons: Untested, Committed, Ready, Defining
Json Report: ./MySample.Features.TestRun1Passing/test-results/MySample.Features.TestRun1Passing.Results.json
