{{.*}}/rl
		<title>My Sample - Features</title>
{{.*}}/rl
		<div class="testrun name">
		<a class="testrun name pointer" 
			id="testrun-2-name"
			href="./MySample.Features.Capability1Passing/test-results/MySample.Features.Capability1Passing.Results.html">My Sample - Capability 1 Passing</a>

		</div>
{{.*}}/rl