Output: ./MySample.TestSummary.WithAMissingJsonFile.html
Name: My Sample - Features
TestRunNameClip: My Sample - Features - 
Reasons: Removing,Passed,Untested,Committed,Ready,Defining,Failed
{{Json Report\: .*Missing\.json}}
{{Error: Could not find file \'.*Missing\.json\'\.}}
