Output: ./MySample.TestSummary.WithASingleJsonFile.html
Name: My Sample - Features
TestRunNameClip: My Sample - Features - 
Reasons: Removing,Passed,Untested,Committed,Ready,Defining,Failed
Json Report: ./MySample.Features.Capability1Passing/test-results/MySample.Features.Capability1Passing.Results.json
