namespace MyGeneratedSample.Features.MyCapability1.MySubCapability1
{
	using Microsoft.VisualStudio.TestTools.UnitTesting;
	using System;
	using System.Threading.Tasks;
	using xBDD;
	using xBDD.Utility;

	[TestClass]
	public partial class MyFeature1: xBDDFeatureBase
	{

		[TestMethod]
		[Explanation(@"
			Here is ""my"" 
			multiline scenario 
			explanation",3)]
		public async Task MyScenario1()
		{
			await xB.AddScenario(this, 1000)
				.Given("Step 1",
					(s) => { 
						// Enter your code here.
					})
				.Skip("Defining", Assert.Inconclusive);
		}

	}
}