{
	"xBDD": {
		"TestRunName": "My Generated Sample - Features",
		"Browser": {
			"Watch": "false"
		},
		"HtmlReport": {
			"RemoveFromCapabilityNameStart": "Modified",
			"FailuresOnly": "false"
		}
	}
}